In [6]:
from datetime import date

from src.domain.services.futures_data_service import FuturesDataService
from src.infrastructure.database.database import db_session
from src.infrastructure.mysql.futures_data_repository_mysql import FuturesDataRepositoryMysql


futures_data_repository = FuturesDataRepositoryMysql(db_session())
futures_data_service = FuturesDataService(futures_data_repository)

asset_name = 'crude_oil'
trade_date = date(2024, 4, 3)

df = futures_data_service.make_dataframe(asset_name, trade_date)
df

2024-04-06 07:22:32,514 INFO sqlalchemy.engine.Engine
            SELECT
                a.id AS asset_id,
                a.name AS asset_name,
                s.trade_date,
                s.month,
                s.settle,
                v.total_volume AS volume,
                v.at_close AS open_interest
            FROM assets a
            JOIN settlements s ON a.id = s.asset_id
            JOIN volume_oi v ON a.id = v.asset_id AND s.trade_date = v.trade_date AND s.month = v.month
            WHERE a.name = %(asset_name)s AND s.trade_date = %(trade_date)s

[INFO] 2024-04-06 07:22:32,514 -
            SELECT
                a.id AS asset_id,
                a.name AS asset_name,
                s.trade_date,
                s.month,
                s.settle,
                v.total_volume AS volume,
                v.at_close AS open_interest
            FROM assets a
            JOIN settlements s ON a.id = s.asset_id
            JOIN volume_oi v ON a.id = v.asset_id AND s.trade_date = v.trade_date AND s.month = v.month
            WHERE a.name = %(asset_name)s AND s.trade_date = %(trade_date)s
             (base.py - 1848)
2024-04-06 07:22:32,515 INFO sqlalchemy.engine.Engine [cached since 643.1s ago] {'asset_name': 'crude_oil', 'trade_date': datetime.date(2024, 4, 3)}
[INFO] 2024-04-06 07:22:32,515 - [cached since 643.1s ago] {'asset_name': 'crude_oil', 'trade_date': datetime.date(2024, 4, 3)} (base.py - 1848)

        month  settle  volume  open_interest
0  2024-05-01   85.43  322549         314772
1  2024-06-01   84.61  190898         262831
2  2024-07-01   83.77   90948         161664
3  2024-08-01   82.88   42960          75707
4  2024-09-01   81.97   57145         108280
5  2024-10-01   81.07   16685          62749
6  2024-11-01   80.22    9055          44960
7  2024-12-01   79.42   77107         181085
8  2025-01-01   78.67    5962          41745
9  2025-02-01   77.96    2050          32210
10 2025-03-01   77.32   10301          39368
11 2025-04-01   76.73    1775          23821
12 2025-05-01   76.21    1356          17323
13 2025-06-01   75.74   20192          96398
14 2025-07-01   75.23     944          18270
15 2025-08-01   74.75     283          13578
16 2025-09-01   74.31     792          18919
17 2025-10-01   73.90     341           9818
18 2025-11-01   73.53     800          14842
19 2025-12-01   73.16   33184          90766
20 2026-01-01   72.74     368           6758
21 2026-02-01   72.34     240           3550
22 2026-03-01   71.97     405           8772
23 2026-04-01   71.62     108           1689
24 2026-05-01   71.31       1           1441
25 2026-06-01   71.00    4163          25009
26 2026-07-01   70.65       0           1858
27 2026-08-01   70.33      62           1206
28 2026-09-01   70.03    1781           6193
29 2026-10-01   69.74      10           1581
30 2026-11-01   69.50       1           1885
31 2026-12-01   69.27    6043          34935
32 2027-01-01   68.98       1           1975
33 2027-02-01   68.69       1            511
34 2027-03-01   68.45       0           1208
35 2027-04-01   68.22       0            100
36 2027-05-01   67.99       0             23
37 2027-06-01   67.79       7           2695
38 2027-07-01   67.56       0             23
39 2027-08-01   67.44       0            135
40 2027-09-01   67.26       0            270
41 2027-10-01   67.09       0            135
42 2027-11-01   66.87       0           1325
43 2027-12-01   66.69    1142          13959
44 2028-01-01   66.46       0           1326
45 2028-06-01   65.74       0            584
46 2028-10-01   65.25       0            900
47 2028-11-01   65.19       0           1800
48 2028-12-01   65.09     300           5699
49 2029-06-01   64.59       0            100
50 2029-12-01   64.22     201           4395
51 2030-03-01   64.04       0             50
52 2030-06-01   63.92       0             51
53 2030-12-01   63.78       0            886
54 2031-12-01   63.58       0             63
55 2032-12-01   63.50       0           1010
56 2033-12-01   63.49       0              3

In [7]:
df = df.sort_values('month')
df['settle_spread'] = df['settle'] - df['settle'].shift(1)
df['settle_spread'] = df['settle_spread'].fillna(0)
df

        month  settle  volume  open_interest  settle_spread
0  2024-05-01   85.43  322549         314772           0.00
1  2024-06-01   84.61  190898         262831          -0.82
2  2024-07-01   83.77   90948         161664          -0.84
3  2024-08-01   82.88   42960          75707          -0.89
4  2024-09-01   81.97   57145         108280          -0.91
5  2024-10-01   81.07   16685          62749          -0.90
6  2024-11-01   80.22    9055          44960          -0.85
7  2024-12-01   79.42   77107         181085          -0.80
8  2025-01-01   78.67    5962          41745          -0.75
9  2025-02-01   77.96    2050          32210          -0.71
10 2025-03-01   77.32   10301          39368          -0.64
11 2025-04-01   76.73    1775          23821          -0.59
12 2025-05-01   76.21    1356          17323          -0.52
13 2025-06-01   75.74   20192          96398          -0.47
14 2025-07-01   75.23     944          18270          -0.51
15 2025-08-01   74.75     283          13578          -0.48
16 2025-09-01   74.31     792          18919          -0.44
17 2025-10-01   73.90     341           9818          -0.41
18 2025-11-01   73.53     800          14842          -0.37
19 2025-12-01   73.16   33184          90766          -0.37
20 2026-01-01   72.74     368           6758          -0.42
21 2026-02-01   72.34     240           3550          -0.40
22 2026-03-01   71.97     405           8772          -0.37
23 2026-04-01   71.62     108           1689          -0.35
24 2026-05-01   71.31       1           1441          -0.31
25 2026-06-01   71.00    4163          25009          -0.31
26 2026-07-01   70.65       0           1858          -0.35
27 2026-08-01   70.33      62           1206          -0.32
28 2026-09-01   70.03    1781           6193          -0.30
29 2026-10-01   69.74      10           1581          -0.29
30 2026-11-01   69.50       1           1885          -0.24
31 2026-12-01   69.27    6043          34935          -0.23
32 2027-01-01   68.98       1           1975          -0.29
33 2027-02-01   68.69       1            511          -0.29
34 2027-03-01   68.45       0           1208          -0.24
35 2027-04-01   68.22       0            100          -0.23
36 2027-05-01   67.99       0             23          -0.23
37 2027-06-01   67.79       7           2695          -0.20
38 2027-07-01   67.56       0             23          -0.23
39 2027-08-01   67.44       0            135          -0.12
40 2027-09-01   67.26       0            270          -0.18
41 2027-10-01   67.09       0            135          -0.17
42 2027-11-01   66.87       0           1325          -0.22
43 2027-12-01   66.69    1142          13959          -0.18
44 2028-01-01   66.46       0           1326          -0.23
45 2028-06-01   65.74       0            584          -0.72
46 2028-10-01   65.25       0            900          -0.49
47 2028-11-01   65.19       0           1800          -0.06
48 2028-12-01   65.09     300           5699          -0.10
49 2029-06-01   64.59       0            100          -0.50
50 2029-12-01   64.22     201           4395          -0.37
51 2030-03-01   64.04       0             50          -0.18
52 2030-06-01   63.92       0             51          -0.12
53 2030-12-01   63.78       0            886          -0.14
54 2031-12-01   63.58       0             63          -0.20
55 2032-12-01   63.50       0           1010          -0.08
56 2033-12-01   63.49       0              3          -0.01